__pycache__/
.vs/
.idea/
.env
print.txt
logs/*.log
auto_posts/*
followed_users.json
seen_user_posts.json
follower_map.json
user_filters.json
followed_subreddit.json
htmlcov
list_modules.py
core.txt
utils.txt